@media all and (max-width: 1200px){
  .container{
    padding: 0 15px;
  }
  /* Mobile Menu */
  .menu {
    gap: 40px;
  }
  .menu nav ul {
    gap: 30px;
  }
  .menu nav ul li a {
    font-size: 19px;
  }
  /* Banner area */
  .text_72 {
    font-size: 60px;
    line-height: 74.27px;
  }
  /* Property Types */
  .PTHeading h2::after {
    left: 53.6%;
  }
  .PTHeading h2::before {
    left: 60.6%;
  }
  /* Attractive offers */
  .heading_AO p::after {
    left: 52%;
  }
  /* Attractive offers */
  .attractiveOffersItem {
    grid-template-columns: repeat(3,1fr);
  }
}

@media all and (min-width: 992px){
  /* Mobile Menu */
  .menu {
    display: flex !important;
  }
  .menu nav ul {
    display: flex !important;
  }
  
}

@media all and (max-width: 991px){
  /* Mobile Menu */
  .header-title{
    position: relative;
  }
  .menu{
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background: #ebebeb;
    width: 100%;
    height: auto;
    top: 96px;
    left: 0;
    padding: 30px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border-top: 1px solid #1252AE;
    z-index: 9999;
  }
  .menu nav ul{
    flex-direction: column;
    align-items: center;
  }
  .menu .login{
    margin-left: 0;
  }
  .menu .login::before{
    content: '';
    position: inherit;
  }
  .login{
    text-align: center;
    margin-top: 20px;
  }
  .login .btn1{
    max-width: 120px;
    width: 100%;
    margin: auto;
  }
  /*Start Mobile Menu icon*/
  .menu-bar{
    display: block;
  }
  #toggleNav-icon{
    width: 28px;
    height: 23px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    top: 30%;
    right: 0;
  }
  #toggleNav-icon span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #444;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #toggleNav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
          -ms-transform-origin: left center;
              transform-origin: left center;
  }
  #toggleNav-icon span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
  }
  #toggleNav-icon span:nth-child(3) {
    top: 16px;
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
  }
  #toggleNav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -2px;
    left: 2px;
  }
  #toggleNav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  #toggleNav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 18px;
    left: 2px;
  }
  /*End Mobile Menu icon*/
  /* Banner area */
  .bannerContain h2 {
    max-width: 400px;
  }
  .text_72 {
    font-size: 52px;
    line-height: 66.27px;
  }
  /* Property Types */
  .PTHeading h2::after {
    left: 54.6%;
  }
  .PTHeading h2::before {
    left: 63.6%;
  }
  /* Attractive offers */
  .heading_AO p::after {
    left: 53%;
  }
  /* Attractive offers */
  .attractiveOffersItem {
    grid-template-columns: repeat(2,1fr);
  }
}

@media all and (max-width: 767px){
  /* Mobile Menu */
  .main-header-area {
    padding: 9px 0;
  }
  .menu {
    top: 73px;
  }
  .header-logo img {
    max-width: 75px;
  }
  /* Banner area */
  .bannerContain {
    padding: 60px 0 100px;
  }
  .bannerContain h2 {
    max-width: 300px;
  }
  .text_72 {
    font-size: 40px;
    line-height: 52.27px;
  }
  /* Property Types */
  .text_36 {
    font-size: 30px;
    line-height: 40.16px;
  }
  .PTHeading h2::after {
    left: 55.6%;
  }
  .PTHeading h2::before {
    left: 66.6%;
  }
  /* Attractive offers */
  .heading_AO p::after {
    left: 54%;
  }
  /* Attractive offers */
  .attractiveOffersItem {
    grid-template-columns: repeat(1,1fr);
  }
}

@media all and (max-width: 575px){
  /* Attractive offers */
  .heading_AO p::after {
    left: 55%;
  }
}

@media all and (max-width: 450px){
  /* Property Types */
  .PTHeading h2::after {
    left: 56.6%;
  }
  .PTHeading h2::before {
    left: 70.6%;
  }
  /* Attractive offers */
  .heading_AO p::after {
    left: 55.8%;
  }
}
